# dotenv
.env
.env.*
!.env.example

# misc / ide
.DS_Store
*.swp
*.db
*.log
.idea

# temp files
temp
cache

# node
node_modules
package-lock.json
coverage
coverage.json
lib
dist

# any generated protobufs
src/proto/*.ts
!src/proto/index.ts

# hardhat / typechain artifacts
cache/
typechain/

# preempt any keys
*.keys
*.key